<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script type="text/javascript" src="/js/create.js"></script>
</head>

<head>	

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<div>

<div class="icon-preview col s6 m3"><i class="material-icons dp48">Attention!</i><span>error_outline</span></div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
ERROR: {{message}}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>