<script type="text/javascript" src="/js/index.js"></script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<p style="color: #ddd" id="text">
  {{{text}}}
</p>

<button class="mdl-button mdl-js-button mdl-button--raised" style="color: #999; margin: 1px" id="option1">
	Option 1
</button>

<button class="mdl-button mdl-js-button mdl-button--raised" style="color: #999; margin: 1px" id="option2">
   Option 2
</button>

<button class="mdl-button mdl-js-button mdl-button--raised" style="color: #999; margin: 1px" id="option3">
   Option 3
</button>